
<div *ngIf="evento">
  <h1>
    {{ evento.eve_nombre }}
    <span class="badge text-bg-secondary">Cat1</span>
    <span class="badge text-bg-secondary">Cat2</span>
    <span class="badge text-bg-secondary">Cat3</span>
  </h1>

  <div class="card">
    <div class="card-body">
      <p><strong>Descripción:</strong> {{ evento.eve_descripcion }}</p>
      <p><strong>Precio:</strong> {{ evento.eve_precio }}</p>
    </div>
  </div>
</div>

<div *ngIf="!evento" class="alert alert-danger">
  Evento no encontrado o no disponible.
</div>