.container-register{
    margin-top:30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 150px;
}
.title{
    margin-bottom: 4%;
}
.button-sign{
    margin-top: 8px;
    display: flex;
    justify-content: center
}
.contrasena{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
.title{
    display: flex;
    justify-content: center
}
.btn-primary{       
    margin-top: 1%;
    display: flex;
    justify-content: center;
    width: 132px;
    background-color: darkorange;
    border-color: transparent;
}
.input-group > .form-control, .input-group > .form-floating, .input-group > .form-select {
    position: relative;
    width: 2%;
}
.inputRegister{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.containerinputs{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.contDrop{
    display: flex;
    justify-content: center;
}