<!-- src/app/event/event.component.html -->

<div class="eventoCont">
  <div *ngIf="evento">
    <h1>
      {{ evento.eve_nombre }}
    </h1>

    <div class="card">
      <div class="card-body">
        <p><strong>Descripción:</strong> {{ evento.eve_descripcion }}</p>
        <p><strong>Precio:</strong> {{ evento.eve_precio }}</p>
        <p><strong>fecha inicio:</strong> {{ evento.eve_fecha_inicio  | date: 'yyyy-MM-dd'}}</p>
        <p><strong>fecha final:</strong> {{ evento.eve_fecha_final | date: 'yyyy-MM-dd' }}</p>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-success" (click)="comprarEvento()">Comprar</button>

  <div *ngIf="!evento" class="alert alert-danger">
    Evento no encontrado o no disponible.
  </div>
</div>
