.eventoCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
        margin-top: 10%;
    }
    .btn{
        margin-top: 2%;
    }
}
