<div class="generalCreateEvent">
    <!-- nombre -->
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="url"
          [(ngModel)]="imagen"
          name="imagen"
          required
        />
      </div>
    </div>
    
    
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Nombre del evento"
          [(ngModel)]="nombre"
          name="nombre"
          required
        />
      </div>
    </div>
  
    <!-- descripción -->
    <div class="form-floating">
      <textarea
        class="form-control"
        placeholder="Descripción"
        id="floatingTextarea2"
        style="height: 100px"
        [(ngModel)]="descripcion"
        name="descripcion"
        required
      ></textarea>
      <label for="floatingTextarea2">Descripción</label>
    </div>
  
    <!-- Fechas -->
    <div class="row g-3">
      <div class="col">
        <input
          type="date"
          class="form-control"
          placeholder="Fecha Inicio"
          [(ngModel)]="fechaInicio"
          name="fechaInicio"
          required
        />
      </div>
      <div class="col">
        <input
          type="date"
          class="form-control"
          placeholder="Fecha Final"
          [(ngModel)]="fechaFinal"
          name="fechaFinal"
          required
        />
      </div>
    </div>
  
    <!-- Precio -->
    <div class="input-group">
      <input
        type="number"
        class="form-control"
        placeholder="Precio"
        [(ngModel)]="precio"
        name="precio"
        required
      />
      <span class="input-group-text">$</span>
    </div>
  
    <!-- Crear -->
    <button type="button" class="btn btn-primary btn-lg" (click)="crearEvento()">
      Crear
    </button>
  </div>
  