<router-outlet>
  <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">boletaHub</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item"><a routerLinkActive="active" routerLink="/home" class="nav-link active">Home</a></li>
          <li class="nav-item"><a routerLinkActive="active" routerLink="/createEvent" class="nav-link" id="otrocolor ">Crear Evento</a></li>
          <li class="nav-item"><a routerLinkActive="active" routerLink="/myEvents" class="nav-link">Mis eventos</a></li>
        </ul>
        <div class="dropdown-text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" heigh  t="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a routerLinkActive="active" routerLink="/balance" class="dropdown-item" href="#">Saldo</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </header>
    </div>
  
</router-outlet>