.events{
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
}

.card{
    width: 20%;
    height: 30%;
    margin-left: 10px;
    margin-bottom: 5%;
}

.carousel-inner img {
    max-height: 650px; /* Ajusta la altura máxima según tus necesidades */
    object-fit: cover; /* Mantiene las proporciones y recorta las imágenes si es necesario */
}

.carousel {
    max-width: 800px; /* Ajusta el ancho máximo del carrusel */
    margin: auto; /* Centra el carrusel en la página */
}